header {
    background-color: #f2f2f2;
    padding: 10px 0;
}

.logo {
    /* Add background image here */
    /* background-image: url('../images/logo.png'); */
    /* Adjust background properties */
    width: 150px;
    height: 50px;
}
