/* Filters Styles */
.filters {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.locations {
	height: 100%;
	width: 40%;
}

.amenities {
	height: 100%;
	width: 40%;
}

.locations {
	border-right: 1px solid #dddddd;
}
.locations h3,
.amenities h3 {
	font-weight: 600;
}

.locations h4,
.amenities h4 {
	font-weight: 400;
	font-size: 14px;
	margin-top: -20px;
}
