.container .filters {
	display: flex;
}

.container .filters > div {
	width: 25%;
	height: 100%;
	border-right: 1px solid #ddd;
}

.container .filters > div:first-child {
	border-right: none;
}

.container .filters h3 {
	font-weight: 600;
}

.container .filters h4 {
	font-weight: 400;
	font-size: 14px;
}

.container .locations {
	background-color: #f9f9f9;
}

.container .amenities {
	background-color: #f0f0f0;
}
