/* styles/6-filters.css */

/* Popover style */
.popover {
	position: absolute;
	background-color: #fafafa;
	width: 100%;
	border: 1px solid #dddddd;
	border-radius: 4px;
	padding: 10px;
	display: none;
	color: #fafafa;
	list-style: none;
}

/* Show popover on hover */
.filters .locations:hover .popover,
.filters .amenities:hover .popover {
	display: block;
}

/* State heading */
.popover > h2 {
	font-size: 16px;
}

/* City list */
.popover ul {
	padding: 0;
}

.popover ul li {
	margin-bottom: 5px;
}
