/* Popover Styles */
.popover {
	position: absolute;
	background-color: #fafafa;
	border: 1px solid #dddddd;
	border-radius: 4px;
	width: 19%; /* same as parent */
	list-style: none !important;
	display: none; /* initially hidden */
	margin-left: 0px;
	padding: 20px;
}

.popover ul {
	padding-left: 0;
	list-style-type: none;
}

.popover h2 {
	font-size: 16px;
	margin: 5px 0;
}

/* Show popover on hover */
.locations:hover .popover,
.amenities:hover .popover {
	display: block;
}
