/* styles/7-places.css */

.places {
	margin-top: 30px;
	display: flex;
	flex-wrap: wrap; /* Allow items to wrap to the next line */
	justify-content: center; /* Horizontal alignment */
	align-items: center; /* Vertical alignment */
}

.places h1 {
	font-size: 30px;
	text-align: left;
	width: 100%; /* Ensure title takes full width */
	margin-bottom: 20px; /* Add space below the title */
}

.places article {
	width: 390px;
	padding: 20px;
	margin: 20px;
	border: 1px solid #ff5a5f;
	border-radius: 4px;
}

.places article h2 {
	font-size: 30px;
	text-align: center;
}
