.places {
	padding: 20px;
}

.places h1 {
	font-size: 30px;
	margin: 0;
}

.places article {
	width: 390px;
	padding: 20px;
	margin: 20px;
	border: 1px solid #ff5a5f;
	border-radius: 4px;
}

.places article h2 {
	font-size: 30px;
	text-align: center;
}

.price_by_night {
	color: #ff5a5f;
	border: 4px solid #ff5a5f;
	border-radius: 4px;
	min-width: 60px;
	height: 60px;
	font-size: 30px;
	text-align: center;
	float: right;
}

.information {
	border-top: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
	height: 80px;
}

.information div {
	display: inline-block;
	width: 100px;
	vertical-align: middle;
	text-align: center;
}

.information div img {
	width: 24px;
	height: 24px;
}

.user {
	margin-top: 10px;
}

.description {
	margin-top: 10px;
}
