.places article .information {
	height: 80px;
	border-top: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 0;
}
